extends layout

block content
  if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/reference/new") 参考書を追加する
      if references.length>0
        h5 参考書一覧
        table.table
          tr
            th 参考書名
            th 問題数・ページ数
            th 教科
          each reference in references
            tr
              td
                a(href=`/reference/${reference.referenceId}`) #{reference.referenceName}
                th #{reference.referenceNumber}
                th #{sub}
  else
    div
      a(href="/login") ログイン