extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/goal/new") 目標を作る
      - var hasGoal=goals.length>0
      if hasGoal
        h3 目標一覧
        table.table
          tr
            th 目標名
            th 締切日
          each goal in goals
            tr
              td
                a(href=`/goal/${goal.goalId}`) #{goal.goalName}
              td #{goal.deadline}
      else
        div
          a(href="/login") ログイン